{% load i18n %}

<html>
<head>
	<title>
	{% block title %}
	{% endblock title%}
	</title>
	<link rel="stylesheet" type="text/css" href="/static/style-screen.css"> </link>
	
	{% block head %}
	{% endblock head %}
</head>

<body>
	<div class="mainmenu">
	<a href="/p/{{ pid }}" {% ifequal section 'project' %}class="selected"{% endifequal %}>{% trans "Project" %}</a>
	<a href="/w/{{ pid }}" {% ifequal section 'wiki' %}class="selected"{% endifequal %}>{% trans "Documents" %}</a>
	<a href="/i/{{ pid }}" {% ifequal section 'issues' %}class="selected"{% endifequal %}>{% trans "Issues" %}</a>
	<a href="/s/{{ pid }}" {% ifequal section 'scm' %}class="selected"{% endifequal %}>{% trans "Source" %}</a>
	<a href="/c/{{ pid }}" {% ifequal section 'codereview' %}class="selected"{% endifequal %}>{% trans "Code Review" %}</a>
	</div>
	<div class="submenu">
	{% block submenu %}
	{% endblock submenu %}
	</div>
	
	{% block contents %}
	{% endblock contents %}
</body>
</html>