{% load i18n %}

<html>
<head>
	<title>
	Iridium Software Development Management
	</title>
	<link rel="stylesheet" type="text/css" href="/static/style-screen.css"> </link>
	<script type="text/javascript" src="/static/jquery-1.3.1.min.js">
	</script>
	<script type="text/javascript" src="/static/jquery.corners.min.js">
	</script>
	<script>
	$(document).ready( function(){
	  $('.styledtable').corners();
	  $('.styledtable tr:even').addClass("even");
	});
	</script>
</head>

<body>
<h1>Project List</h2><hr/>
<table class="styledtable">
<tr><th>Project</th><th>Description</th></tr>
{% for proj in projects %}
<tr>
	<td><a href="/p/{{ proj.id }}">{{ proj.name }}</a></td>
	<td>{{ proj.desc }}</td>
</tr>
{% endfor %}
</table>

</body>
</html>