
div.header a{
	text-decoration: none;
	background: #11AAFF;
	padding: 4px;
	color: white;
}

div.mainmenu {
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	color: #333;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
}

div.mainmenu a{
	text-decoration: none;
	background: #91a9c2;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
}

div.mainmenu a.selected {
	text-decoration: none;
	background: #5074e9;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
}

div.submenu {
	font-size: 80%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	color: #333;
	background-color:#5074e9;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.submenu a{
	text-decoration: none;
	margin: 4px;
	padding: 4px;
	color: white;
}

table.comment {
	border: None;
	background-color:#91a9c2;
	width: 640px;
	margin-bottom: 5px;
}

table.comment th{
	background-color:#5074e9;
}

table.projectlist {
	border: 1px solid black;
}

table.projectlist a {
	text-decoration: None;
}

table.projectlist th{
	background: #91a9c2;
	padding-left: 4px;
	padding-right: 4px;
}

tr.even {
	background: #dedfe2;
}