{% extends "master.html" %}
{% load i18n %}
{% load extratags %}

{% block head %}
<script>
	$(document).ready( function(){
	  $('.styledtable').corners();
	  $('.styledtable tr:even').addClass("even");
	});
	</script>
{% endblock head %}

{% block submenu %}
<a href="/s/{{ pid }}/{{ rid }}/t">Tree</a>
<a href="/s/{{ pid }}/{{ rid }}">Changelog</a>
{% endblock submenu %}

{% block contents %}
<h1>{{ repo.title }}: Changelog</h2><hr/>
<table class="styledtable">
<tr><th>Message</th><th>Author</th></tr>
{% for commit in commits %}
<tr>
	<td><a href="/s/{{ pid }}/{{ rid }}/diff/{{ commit.commit_id }}">{{ commit.message|firstline }}</a></td>
	<td>{{ commit.author }}</td>
</tr>
{% endfor %}
</table>
{% endblock contents %}
