{% extends "master.html" %}
{% load i18n %}
{% load extratags %}

{% block submenu %}
<a href="/s/{{ pid }}/{{ rid }}/t">Tree</a>
<a href="/s/{{ pid }}/{{ rid }}">Changelog</a>
{% endblock submenu %}

{% block contents %}
<h1>{{ repo.title }}: Tree</h2><hr/>
<table>
{% if tree %}
<td><img src="/static/img/icon_folder.png"></td>
<td><a href="/s/{{ pid }}/{{ rid }}/t/{{ tree|trimpath }}">..</a></td>
{% endif %}
{% for folder in folders %}
<tr>
	<td><img src="/static/img/icon_folder.png"></td><td>
	{% if tree %}
	<a href="/s/{{ pid }}/{{ rid }}/t/{{ tree }}/{{ folder }}">
	{% else %}
	<a href="/s/{{ pid }}/{{ rid }}/t/{{ folder }}">
	{% endif %}
	
	{{ folder }}</a></td>
</tr>
{% endfor %}

{% for file in files %}
<tr>
	<td><img src="/static/img/icon_file.png"></td><td>
	{% if tree %}
	<a href="/s/{{ pid }}/{{ rid }}/cat/{{ file }}">
	{% else %}
	<a href="/s/{{ pid }}/{{ rid }}/cat/{{ tree }}/{{ file }}">	
	{% endif %}
	
	{{ file }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock contents %}
