{% extends "master.html" %}
{% load i18n %}
{% load extratags %}

{% block head %}
<script>
	$(document).ready( function(){
	  $('.styledtable').corners();
	  $('.styledtable tr:even').addClass("even");
	});
	</script>
{% endblock head %}

{% block submenu %}
<a href="/i/{{ pid }}/new">Create Issue</a>
{% endblock submenu %}

{% block contents %}
<h1>{{ title }}</h2><hr/>
<table class="styledtable">
<tr><th>#</th><th>Type</th><th>Priority</th><th>Title</th><th>Status</th><th>Published</th></tr>
{% for issue in issues %}
<tr>
	<td><a href="/i/{{ pid }}/{{ issue.id }}">{{ issue.issuenumber }}</a></td>
	<td>{{ issue.issuetype|lookup:di_type }}</td>
	<td>{{ issue.priority|lookup:di_priority }}</td>
	<td><a href="/i/{{ pid }}/{{ issue.id }}">{{ issue.title }}</a></td>
	<td>{{ issue.status|lookup:di_status }}</td>
	<td>{{ issue.published }}</td>
</tr>
{% endfor %}
</table>
{% endblock contents %}